[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyrotools = "==1.0.1"
decorator == "==5.0.7"
jsonpath-rw == "==1.4.0"
packaging == "==20.9"
ply == "==3.11"
pyjsonq == "==1.0.2"
pyparsing == "==2.4.7"
six == "==1.15.0"

[requires]
python_version = "3.8"
