# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DEV\DRG Mod Validator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
